body{
    background-color: #cee0c9;
}

.container {

    height: 25px;
    background-color: #c5c5c5;
    position: relative;
}
.container .progress-bar{
    position: absolute;
    height: 100%;
    background-color: #41a166;
    animation: progress-animation 7s infinite;
}
@keyframes progress-animation{
    0% { width: 0%; } 
    100% { width: 100%}
}